@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

*::marker {
  display: none; }

html {
  cursor: default;
  scroll-behavior: smooth; }

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white; } }

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
  max-width: 100vw; }

body {
  min-height: 100vh;
  background-image: url(/images/bg.webp); }

a,
nav,
header,
h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; }

img,
picture,
svg,
video {
  display: block;
  max-width: 100%; }

input,
textarea,
button,
select {
  font: inherit; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

.link-arrow {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4.5vmin;
  font-weight: 500; }
  .link-arrow::after {
    content: "→";
    margin-left: 5px;
    transition: margin 0.15s; }
  .link-arrow:hover:after {
    animation: pinger 0.5s ease-in-out infinite; }

@keyframes pinger {
  0%,
  100% {
    margin-left: 5px; }
  50% {
    margin-left: 10px; } }

@media (max-width: 820px) {
  p {
    font-size: 5vw;
    font-weight: 500; }
  header,
  h1 {
    font-size: 6.25vw;
    font-weight: 500;
    margin: 4rem 0;
    text-align: center; } }

@media (min-width: 821px) {
  p {
    font-size: 1.75vw;
    font-weight: 500; }
  header,
  h1 {
    font-size: 3.2vw;
    font-weight: 500;
    margin: 4rem 0;
    text-align: center; } }

.navbar {
  background-color: #8cb89f;
  max-height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .navbar img,
  .navbar svg {
    width: auto;
    height: 100%; }
  .navbar #catly-logo {
    height: 6.5rem; }
  .navbar a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    height: 100%; }
  .navbar .nav__toggler {
    height: 5rem;
    width: 5rem;
    margin-right: 0.5rem; }
  .navbar .nav__list {
    width: 100%;
    text-align: center; }
    .navbar .nav__list .nav__item {
      font-size: 1.4rem;
      border-radius: 1px;
      list-style: none;
      font-weight: 500;
      padding: 0.3rem 1rem;
      border-bottom: 1px solid black;
      background-color: #8cb89f; }
      .navbar .nav__list .nav__item:hover, .navbar .nav__list .nav__item:active {
        background-color: #acdfc2;
        animation: bounce 0.5s ease-in-out infinite; }

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); } }
    .navbar .nav__list #first {
      border-top: 1px solid black; }
    .navbar .nav__list li svg {
      display: inline-block;
      width: 18px;
      height: 18px;
      transform: translate(22px, 5px) rotate(155deg) scaleX(-1); }
    .navbar .nav__list input[type="text"] {
      margin-top: 0.5rem;
      height: 1.8rem;
      width: 14rem;
      justify-content: center;
      background-color: #8cb89f;
      border: none;
      border-radius: 10px;
      font-size: 1.2rem;
      padding-left: 2.2rem; }
      .navbar .nav__list input[type="text"]:focus {
        outline: none; }
    .navbar .nav__list:last-child {
      list-style-type: none; }
  .navbar #navbar {
    display: none; }
  .navbar #navbar--expanded {
    display: block; }

@media screen and (min-width: 821px) {
  .navbar {
    flex-wrap: nowrap;
    background-color: transparent; }
    .navbar .nav__toggler {
      display: none; }
    .navbar .nav__list {
      margin-top: -3px;
      display: flex;
      justify-content: center; }
      .navbar .nav__list #first {
        border: 0; }
      .navbar .nav__list #last {
        overflow: hidden;
        transform: translateX(-2rem);
        padding-top: 0.7rem;
        margin-left: 1.75rem; }
        .navbar .nav__list #last input[type="text"] {
          width: 28rem; }
      .navbar .nav__list .nav__item {
        flex: 1;
        display: flex;
        padding-top: 1.8rem;
        font-size: 2.2rem;
        height: 6.2rem;
        border: 0;
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
      .navbar .nav__list li svg {
        height: 30px;
        width: 30px;
        transform: translate(42px, 10px) rotate(155deg) scaleX(-1); }
      .navbar .nav__list input[type="text"] {
        justify-content: center;
        height: 4rem;
        border-radius: 20px;
        font-size: 2rem;
        padding-left: 4.3rem; }
    .navbar #navbar,
    .navbar #navbar--expanded {
      display: flex; } }

footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -50;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(to right, #416a53, #8cb89f, #acdfc2, #ffd6a8); }
  footer p {
    font-size: 4vmin;
    font-weight: 600; }
  footer span {
    margin-left: 1.85vmin;
    font-size: 3vmin; }

.b1,
.b2,
.s1,
.s2,
.s3 {
  width: 100%;
  background-size: 100%;
  background-image: url("/images/float-card-sprite.webp"); }

.b1 {
  background-position: 0 0%;
  background-size: 100%; }

.b2 {
  background-position: 0 25%;
  background-size: 100%; }

.s1 {
  background-position: 0 50%;
  background-size: 100%; }

.s2 {
  background-position: 0 75%;
  background-size: 100%; }

.s3 {
  background-position: 0 100%;
  background-size: 100%; }

.big--photo {
  z-index: 2;
  width: clamp(8rem, 12.5rem, 15.4rem); }

.small--photo {
  z-index: 1;
  left: 50%;
  top: 50%;
  width: clamp(4.9rem, 6.25rem, 9.9rem); }

.card {
  border: 5px dotted #6ca585;
  background-color: #acdfc2;
  border-radius: 1vmin;
  grid-area: one;
  aspect-ratio: 5 / 7;
  transition: transform 300ms ease-out; }

.stacked {
  margin: 0 auto 2rem auto;
  display: grid;
  width: fit-content;
  grid-template-areas: "one";
  place-items: center; }
  .stacked:hover > #b-card1 {
    transform: translate(-6.5rem, 0) rotate(-40deg); }
  .stacked:hover > #b-card2 {
    transform: translate(6.5rem, 0) rotate(40deg); }
  .stacked:hover > #s-card1 {
    transform: translate(-10rem, -15.5rem) rotate(-40deg); }
  .stacked:hover > #s-card2 {
    transform: translate(0, -20rem); }
  .stacked:hover > #s-card3 {
    transform: translate(10rem, -15.5rem) rotate(40deg); }

.food-h1,
#disappearing-p {
  text-align: center;
  margin: 3.5rem 0; }

.food-h1 {
  height: 15rem; }

#disappearing-p {
  margin-bottom: 2rem;
  font-size: 325%; }

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9 {
  width: 100%;
  background-size: 100%;
  background-image: url("/images/brand-sprite.webp"); }

.img-1 {
  background-position: 0 0%;
  background-size: 100%; }

.img-2 {
  background-position: 0 12.5%;
  background-size: 100%; }

.img-3 {
  background-position: 0 25%;
  background-size: 100%; }

.img-4 {
  background-position: 0 37.5%;
  background-size: 100%; }

.img-5 {
  background-position: 0 50%;
  background-size: 100%; }

.img-6 {
  background-position: 0 62.5%;
  background-size: 100%; }

.img-7 {
  background-position: 0 75%;
  background-size: 100%; }

.img-8 {
  background-position: 0 87.5%;
  background-size: 100%; }

.img-9 {
  background-position: 0 100%;
  background-size: 100%; }

.rows {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .rows > * {
    margin: 2.2rem; }
  .rows:last-of-type {
    margin-bottom: 4rem; }

.brand-card {
  margin-top: 3rem;
  text-align: center;
  border: 5px dotted #8cb89f;
  height: clamp(41rem, 43rem, 45rem);
  width: clamp(24.5rem, 26rem, 27.5rem);
  transition: all 0.3s linear; }
  .brand-card .link-arrow {
    color: #1b1725;
    font-size: 350%; }
  .brand-card .best-choice {
    text-decoration: double underline;
    text-transform: uppercase;
    margin: 2rem 0 1rem 0;
    font-size: 3rem;
    font-weight: 700; }
  .brand-card ul {
    margin: 1rem 0;
    padding-bottom: auto; }
  .brand-card li {
    list-style-type: none;
    padding: 0.5rem 0;
    font-size: 1.75rem;
    font-weight: 550; }
  .brand-card:hover {
    z-index: 2;
    transform: scale(1.09) !important; }

.no-step ul {
  margin-bottom: 9rem; }

.one-step ul {
  margin-bottom: 7rem; }

.three-step ul {
  margin-bottom: 3rem; }
