@import "sass/navbar.scss";

.b1,
.b2,
.s1,
.s2,
.s3 {
  width: 100%;
  background-size: 100%;
  background-image: url("/images/float-card-sprite.webp");
}

.b1 {
  @include background(100%, 0, 0%);
}
.b2 {
  @include background(100%, 0, 25%);
}
.s1 {
  @include background(100%, 0, 50%);
}
.s2 {
  @include background(100%, 0, 75%);
}
.s3 {
  @include background(100%, 0, 100%);
}

.big--photo {
  z-index: 2;
  width: clamp(8rem, 12.5rem, 15.4rem);
}

.small--photo {
  z-index: 1;
  left: 50%;
  top: 50%;
  width: clamp(4.9rem, 6.25rem, 9.9rem);
}

.card {
  border: 5px dotted darken($green-nav, 10%);
  background-color: $green-hover-nav;
  border-radius: 1vmin;
  grid-area: one;
  aspect-ratio: 5 / 7;
  transition: transform 300ms ease-out;
}

.stacked {
  margin: 0 auto 2rem auto;
  display: grid;
  width: fit-content;
  grid-template-areas: "one";
  place-items: center;

  &:hover > #b-card1 {
    transform: translate(-6.5rem, 0) rotate(-40deg);
  }
  &:hover > #b-card2 {
    transform: translate(6.5rem, 0) rotate(40deg);
  }

  &:hover > #s-card1 {
    transform: translate(-10rem, -15.5rem) rotate(-40deg);
  }

  &:hover > #s-card2 {
    transform: translate(0, -20rem);
  }

  &:hover > #s-card3 {
    transform: translate(10rem, -15.5rem) rotate(40deg);
  }
}

.food-h1,
#disappearing-p {
  text-align: center;
  margin: 3.5rem 0;
}

.food-h1 {
  height: 15rem;
}

#disappearing-p {
  margin-bottom: 2rem;
  font-size: percentage(3.25);
}

// Brands

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9 {
  width: 100%;
  background-size: 100%;
  background-image: url("/images/brand-sprite.webp");
}

.img-1 {
  @include background(100%, 0, 0%); // size % and posizition x,y
}
.img-2 {
  @include background(100%, 0, 12.5%);
}
.img-3 {
  @include background(100%, 0, 25%);
}
.img-4 {
  @include background(100%, 0, 37.5%);
}
.img-5 {
  @include background(100%, 0, 50%);
}
.img-6 {
  @include background(100%, 0, 62.5%);
}
.img-7 {
  @include background(100%, 0, 75%);
}
.img-8 {
  @include background(100%, 0, 87.5%);
}
.img-9 {
  @include background(100%, 0, 100%);
}

.rows {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    margin: 2.2rem;
  }

  &:last-of-type {
    margin-bottom: 4rem;
  }
}

// body {
//   overflow-y: visible;
// }

.brand-card {
  margin-top: 3rem;
  text-align: center;
  border: 5px dotted $green-nav;
  @include height-width(
    clamp(41rem, 43rem, 45rem),
    clamp(24.5rem, 26rem, 27.5rem)
  );
  transition: all 0.3s linear;
  // transform-origin: center;

  .link-arrow {
    color: #1b1725;
    font-size: percentage(3.5);
  }

  .best-choice {
    text-decoration: double underline;
    text-transform: uppercase;
    margin: 2rem 0 1rem 0;
    @include font-size-weight(3rem, 700);
  }

  ul {
    margin: 1rem 0;
    padding-bottom: auto;
  }

  li {
    list-style-type: none;
    padding: 0.5rem 0;
    @include font-size-weight(1.75rem, 550);
  }

  &:hover {
    z-index: 2;
    transform: scale(1.09) !important;
  }
}

.no-step {
  ul {
    margin-bottom: 9rem;
  }
}

.one-step {
  ul {
    margin-bottom: 7rem;
  }
}

.three-step {
  ul {
    margin-bottom: 3rem;
  }
}
