@import "sass/navbar.scss";

.home-intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-p {
  margin: 0 3vmin;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $background-color;
  border: 5px dotted $green-nav;
  max-width: 135rem;
  overflow-x: auto;
}

#home-header span {
  display: inline-block;
  animation: wave 0.5s ease-in-out infinite alternate;
}

@keyframes wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

.catWithEyes {
  margin: 2vmax 0 6.75rem 0;
  display: grid;
  place-items: center;
  grid-template-areas: "one";
}

.catWithEyes > * {
  grid-area: one;
}

.eyes {
  grid-template-areas: "one";
  display: flex;
  justify-content: center;
}
.eye {
  @include height-width(5.5rem, 5.5rem);
  background-color: $background-color;
  margin: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.ball {
  @include height-width(4rem, 4rem);
  background: darken(lightblue, 40%);
  border-radius: 50%;
  position: relative;
}

.shines {
  @include height-width(2.05rem, 2.05rem);
  background: $background-color;
  transform: translate(90%, 70%);
  border-radius: 50%;
}

@media screen and (min-width: 821px) {
  footer {
    bottom: 0;
  }
}
