// nesting
// sass: syntetically awesome style sheets

// name of the file has to be _colors.scss
// when you import it, you dont need _ or .scss extension
// @import "sass/colors";

$color1: #f8f594;
$color2: #5d12e7;
$color3: #316901;

%wider {
  text-decoration: underline;
  font-size: 20px;
}

%nav_common {
  color: red;
  @extend %wider;
}

@mixin h_transform($angle: -5deg) {
  transform: rotate($angle);
  -ms-transform: rotate($angle);
  -moz-transform: rotate($angle);
  -webkit-transform: rotate($angle);
}

nav {
  @include h_transform(-5deg);
  @extend %nav_common;
  display: flex;
  background-color: $color1;
  a {
    flex: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    &:hover {
      background-color: darken($color3, 15%);
    }
    &:active {
      background-color: greenyellow;
    }
    &.active {
      color: #b314db;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

article {
  div {
    h3 {
      // $color3 =  #316901 !global
      color: $color2;
      font-size: 24px;
    }
    p {
      color: $color3;
      font-size: 20px;
    }
  }
}
